body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #faf5e4;
    color: #333;
  }
  header {
    background-color: #d3b8ae;
    padding: 10px;
    text-align: center;
  }
  h1 {
    color: #8b5e34;
  }
  button {
    background-color: #8b5e34;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  .logo{
    width: 50px;
    height: auto;
  }