<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jstar Designers- Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='regi_logi.css') }}">
</head>
<body>
  <a href="/">
    <img src="{{ url_for('static', filename='jlogo.png') }}" alt="JStar Logo" class="regi-logo">
  </a>  
  <h2 class="regi">Login</h2>
  <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Enter Username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter Password" required>
    <button type="submit">Login</button>
  </form>
</body>
</html>
