body {
    background-color: #F2E2DE;
    color: black;
}
h1 {
    color: #182524;
}
.navbar {
    margin-bottom: 20px;
}
.todo-container {
    max-width: 600px;
    margin: auto;
}
.completed {
    text-decoration: line-through;
    color: gray;
}